.realtors {
  background-color: $color-secondary;
  grid-column: col-e 6 / main-e;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $breakpoint-m) {
    grid-column: main-s / main-e;
    grid-row: 3 / 4;
  }
  &_wrapper {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 6rem;
    column-gap: 3rem;
    margin-top: 4rem;
  }

  &_img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
  }

  &_profile {
    display: flex;
    flex-direction: column;
  }
}

.rname {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}

.rhouses {
  color: rgba($color: #fff, $alpha: 0.2);
}
