.story {
  &_picture {
    grid-column: main-s / col-e 4;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    background-image: linear-gradient(
        to right,
        rgba($color-primary, 0.5),
        rgba($color-primary, 0.5)
      ),
      url(../img/back.jpg);

    @media screen and (max-width: $breakpoint-m) {
      grid-column: main-s / main-e;
      grid-row: 6/7;
      padding: 6rem;
      column-gap: 5rem;
    }
  }

  &_img-1 {
    grid-column: 2 / 6;
    grid-row: 2 / 6;
    width: 100%;
    @media screen and (max-width: $breakpoint-m) {
      grid-column: 1 / 4;
      grid-row: 1 / 7;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_img-2 {
    grid-column: 4 / 7;
    grid-row: 4 / 6;
    width: 115%;
    @media screen and (max-width: $breakpoint-m) {
      grid-column: 4 / 7;
      grid-row: 1 / 7;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_content {
    grid-column: col-e 4 / main-e;
    padding: 6rem 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media screen and (max-width: $breakpoint-m) {
      grid-column: main-s / main-e;
      grid-row: 5/6;
      align-items: center;
      padding: 6rem 12rem;
    }

    @media screen and (max-width: $breakpoint-s) {
      padding: 6rem;
    }

    .story_text {
      font-size: 1.9rem;
      font-style: italic;
      margin-bottom: 3rem;
    }
  }
}
